Salad CLI+/data.json
Salad CLI+/config.json
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/SaladCLI_Plus.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
